<div id="templatemo_content">

	<div class="templatemo_box">
		<h2><span></span>Welcome to City Portal Website</h2>

		<div class="body">

			<p>
				City Portal is a <a href="http://www.templatemo.com" target="_parent">Free CSS Template</a> for everyone. Feel free to download, edit and apply this template for your websites.
				Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this layout. Nam ut libero at lacus feugiat tincidunt vitae sed ipsum. Vivamus ut ante ullamcorper urna cursus porta.
			</p>

		</div>

		<div class="box_bottom">
			<span></span>
		</div>
	</div>

	<div class="templatemo_box">
		<h2><span></span>Popular Places</h2>

		<div class="body">

			<div class="news_box">
				<a href="#"> <%= image_tag("templatemo_image_06.jpg", alt: "image", class:"news_image") %></a>
				<h3><a href="#">Praesent pretium diam quam</a></h3>
				<p>
					Praesent accumsan porta odio eget hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut nunc nisl, in pellentesque mi.
				</p>

				<div class="cleaner"></div>
			</div>

			<div class="news_box">
				<a href="#"><%= image_tag("templatemo_image_07.jpg", alt: "image", class:"news_image") %></a>
				<h3><a href="#">Aliquam tincidunt mauris sed</a></h3>
				<p>
					Nam non nisl massa, vitae dapibus nisl. Vivamus iaculis gravida odio sed tempor. Fusce tempor faucibus est, ac feugiat metus accumsan sit amet.
				</p>
				<div class="cleaner"></div>
			</div>

			<div class="news_box">
				<a href="#"><%= image_tag("templatemo_image_08.jpg", alt: "image", class:"news_image") %></a>
				<h3><a href="#">Curabitur quis nulla purus</a></h3>
				<p>
					Praesent rhoncus faucibus nibh, non molestie lectus sagittis sed. Praesent ac sem lectus. Cras molestie elit sit amet velit tincidunt imperdiet. Mauris nulla purus.
				</p>
				<div class="cleaner"></div>
			</div>

			<div class="more float_r">
				<a href="#">View All</a>
			</div>

			<div class="cleaner"></div>

		</div>

		<div class="box_bottom">
			<span></span>
		</div>
	</div>

</div>
<!-- end of templatemo_content -->

