<div id="templatemo_banner">

	<div id="banner_box">
		<ul>
			<li>
				<a href="http://www.templatemo.com/page/1" target="_parent"><span class="current"></span> <%= image_tag("templatemo_city_info.jpg", alt: "City Info.") %> </a>
			</li>
			<li>
				<a href="http://www.templatemo.com/page/2" target="_parent"><span></span><%= image_tag("templatemo_business.jpg", alt: "Business") %></a>
			</li>
			<li>
				<a href="http://www.templatemo.com/page/3" target="_parent"><span></span><%= image_tag("templatemo_tourism.jpg", alt: "Tourism") %></a>
			</li>
			<li>
				<a href="http://www.templatemo.com/page/4" target="_parent"><span></span> <%= image_tag("templatemo_events.jpg", alt: "Events") %></a>
			</li>
		</ul>
	</div>

</div>
<!-- end of templatemo_banner -->