</div>
<!-- end of templatemo_wrapper -->

<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">

		<ul class="footer_menu">
			<li>
				<a href="#">Homepage</a>
			</li>
			<li>
				<a href="#">Destinations</a>
			</li>
			<li>
				<a href="#">Life Style</a>
			</li>
			<li>
				<a href="#">Environments</a>
			</li>
			<li>
				<a href="#">Sports</a>
			</li>
			<li>
				<a href="#">Technology</a>
			</li>
			<li>
				<a href="#">Business</a>
			</li>
			<li>
				<a href="#">Videos</a>
			</li>
			<li class="last_menu">
				<a href="#">Contact</a>
			</li>
		</ul>

		Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
	</div>
	<!-- end of footer -->
</div>
<!-- end of templatmeo_footer_wrapper -->
<div align=center>
	This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a>
</div>