<div id="templatmeo_wrapper">

	<div id="templatemo_header">

		<div id="site_title">
			<h1><a href="http://www.templatemo.com" target="_parent"> <%= image_tag("templatemo_logo.png", alt: "City Portal") %> <span>VIET NAM CITIES INFORMATION</span> </a></h1>
		</div>
		<!-- end of site_title -->

		<div id="header_right">

			<ul id="header_button">
				<li>
					<a href="#"><%= image_tag("templatemo_home.jpg", alt: "home") %></a>
				</li>
				<li>
					<a href="#"> <%= image_tag("templatemo_contact.jpg", alt: "contact us") %></a>
				</li>
			</ul>

			<div class="cleaner"></div>

			<form action="#" method="get">
				<input type="text" value="Enter a keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
				<input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" />
			</form>

		</div>

	</div>
	<!-- end of templatemo_header -->
