<div id="templatemo_content_wrapper">

	<div id="templatemo_left_sidebar">

		<div class="templatemo_box">
			<h2><span></span>Categories</h2>

			<div class="body">
				<ul class="side_menu">
					<li>
						<a href="#">Lorem ipsum dolor</a>
					</li>
					<li>
						<a href="#">Donec bibendum semper</a>
					</li>
					<li>
						<a href="#">Proin tincidunt dapibus</a>
					</li>
					<li>
						<a href="#">Nulla consequat</a>
					</li>
					<li>
						<a href="#">In enim justo</a>
					</li>
					<li>
						<a href="#">Aenean vulputate</a>
					</li>
					<li>
						<a href="#">Etiam ultricies</a>
					</li>
					<li>
						<a href="#">Nullam vehicula egestas </a>
					</li>
				</ul>
			</div>

			<div class="box_bottom">
				<span></span>
			</div>
		</div>

		<div class="templatemo_box">
			<h2><span></span>Useful Resources</h2>

			<div class="body">
				<ul class="side_menu">
					<li>
						<a href="#">Aliquam erat volutpat</a>
					</li>
					<li>
						<a href="#">Praesent vestibulum</a>
					</li>
					<li>
						<a href="#">Nulla consequat</a>
					</li>
					<li>
						<a href="#">In enim justo</a>
					</li>
					<li>
						<a href="#">Aenean vulputate</a>
					</li>
					<li>
						<a href="#">Etiam ultricies</a>
					</li>
					<li>
						<a href="#">Nullam vehicula egestas</a>
					</li>
					<li>
						<a href="#">Sed consequat</a>
					</li>
				</ul>
			</div>

			<div class="box_bottom">
				<span></span>
			</div>
		</div>

	</div>
	<!-- end of left_sidebar -->
