<div id="templatemo_menu">

	<ul>
		<li>
			<a href="#">Homepage</a>
		</li>
		<li>
			<a href="#">Destinations</a>
		</li>
		<li>
			<a href="#">Life Style</a>
		</li>
		<li>
			<a href="#">Education</a>
		</li>
		<li>
			<a href="#">Sports</a>
		</li>
		<li>
			<a href="http://www.flashmo.com" target="_parent">Technology</a>
		</li>
		<li>
			<a href="#">Business</a>
		</li>
		<li>
			<a href="#">Photos</a>
		</li>
		<li>
			<a href="#">Videos</a>
		</li>
	</ul>

</div>
<!-- end of templatemo_menu -->