</div>
<!-- end of templatemo_content -->
<div id="templatemo_right_sidebar">

	<div class="templatemo_box">
		<h2><span></span>Guest House  Services</h2>

		<div class="body">

			<ul class="side_menu">
				<li>
					<a href="#">Donec quam</a>
				</li>
				<li>
					<a href="#">Nulla consequat</a>
				</li>
				<li>
					<a href="#">In enim justo</a>
				</li>
				<li>
					<a href="#">Aenean vulputate</a>
				</li>
				<li>
					<a href="#">Etiam ultricies</a>
				</li>
				<li>
					<a href="#">Nullam quis</a>
				</li>
				<li>
					<a href="#">Sed consequat</a>
				</li>
				<li>
					<a href="#">Cras dapibus</a>
				</li>
			</ul>

		</div>

		<div class="box_bottom">
			<span></span>
		</div>
	</div>

	<div class="sidebar_box">
		<a href="http://www.flashmo.com/page/1" target="_parent"><%= image_tag("nightlife.png", alt: "Night Life") %></a>
	</div>

	<div class="sidebar_box">
		<a href="http://www.templatemo.com/page/1" target="_parent"><%= image_tag("city-zoo.png", alt: "City Zoo") %></a>
	</div>

</div>
<!-- end of right_sidebar -->

<div class="cleaner"></div>

</div>
<!-- end of templatemo_content_wrapper -->

